<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {{!-- <!-- font-awesome --> --}}
  <script src="https://kit.fontawesome.com/a470dfdd95.js" crossorigin="anonymous"></script>
  {{!-- bootstrap --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-primary">
      <div class="header-left">
        <a class="navbar-brand ml-5" href="/" style='font-size:30px;'>Expense Tracker</a>
      </div>
      <div class="header-right font-weight-bold d-flex">
        {{#if isAuthenticated}}
        <a href="/records/create">
          <button type="submit" class="btn btn-outline-light ml-4 px-3">新增支出</button>
        </a>
        <div class="dropdown show nav-dropdown ml-3 my-1">
          <button class="btn btn-outline-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle mr-2"></i>
            {{#if user.name }}{{ user.name }}{{else}}{{ user.email }}{{/if}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Personal</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/u/logout">Logout</a>
          </div>
        </div>
        {{else}}
        <a href="/u/login">
          <button type="submit" class="btn btn-outline-light ml-4 px-3">Login</button>
        </a>
        {{/if}}
        
      </div>
    </nav>
  </header>

  <body class="bg-light">
    {{{ body }}}
  </body>
  {{!-- bootstrap --}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>