<div class="form-group d-flex justify-content-end">
  <div class="category-selector">
    <select name="category" class="form-control" onchange="location = this.value;">
      <option class="filter-title" value="/">所有類別</option>
      <option class="filter-house" value="/records/filter?category=house">家居物業</option>
      <option class="filter-transport" value="/records/filter?category=transport">交通出行</option>
      <option class="filter-entertainment" value="/records/filter?category=entertainment">休閒娛樂</option>
      <option class="filter-food" value="/records/filter?category=food">餐飲食品</option>
      <option class="filter-others" value="/records/filter?category=others">其他</option>
    </select>
  </div>
  <div class="sorting-selector">
    <select name="sorting" class="form-control" onchange="location = this.value;">
      <option class="sort-date-desc" value="/records/sort?name=date&way=desc">日期(新 ~ 舊)</option>
      <option class="sort-date-asc" value="/records/sort?name=date&way=asc">日期(舊 ~ 新)</option>
      <option class="sort-amount-desc" name="name" value="/records/sort?name=amount&way=desc">金額(高 ~ 低)</option>
      <option class="sort-amount-asc" value="/records/sort?name=amount&way=asc">金額(低 ~ 高)</option>

    </select>
  </div>
</div>

<div class="container w-100">
  <div class="area mt-3 d-flex flex-column align-items-center">
    <div class="show-total-expense d-flex mb-3">
      <small class="mx-3">總金額：</small>
      <h1 class="total-amount">$ {{ totalAmount }}</h1>
    </div>
    <div class="expense-area col-12">
      <div class="rounded p-4" style="border: 1.5px solid #007bff;">
        <ul class="list-group list-group-flush" style="height: 380px; overflow: auto;">
          {{#each records}}
          <li class="list-group-item list-group-item-action bg-light">
            <div class="expense-record d-flex">
              <div class="expense-record-icon d-flex align-items-center col-2">
                {{#eq this.category 'house'}}<i class="fas fa-home fa-2x "></i>{{/eq}}
                {{#eq this.category 'transport'}}<i class="fas fa-car fa-2x"></i>{{/eq}}
                {{#eq this.category 'entertainment'}}<i class="fas fa-grin-beam fa-2x"></i>{{/eq}}
                {{#eq this.category 'food'}}<i class="fas fa-utensils fa-2x"></i>{{/eq}}
                {{#eq this.category 'others'}}<i class="fas fa-ellipsis-h fa-2x"></i>{{/eq}}
              </div>
              <div class="expense-record-left col-4">
                <div class="record-name">
                  {{ this.name }}
                </div>
                <div class="record-merchant" style="font-size: 0.5rem;">
                  明水三井
                </div>
              </div>
              <div class="record-amount col-4 text-center">
                <div class="expense-amount font-weight-bolder">
                  $ {{ this.amount }}
                </div>
                <div class="record-date" style="font-size: 0.5rem;">
                  {{ this.date }}
                </div>
              </div>
              <div class="expense-record-right d-flex justify-content-end align-items-center col-2">
                <div class="record-button-group row">
                  <form action="/records/edit/{{ this._id }}" method="GET" class="">
                    <button class="edit-btn fas fa-pen"></button>
                  </form>
                  <form action="/records/{{ this._id }}?_method=DELETE" method="POST" onsubmit="return deleteCheck()"
                    class="">
                    <button class="delete-btn fas fa-times-circle"></button>
                  </form>
                </div>
              </div>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="text-center">
        <a href="/records/create">
          <button class="create-btn btn btn-outline-primary mt-3 mb-5">新增支出</button>
        </a>
      </div>
    </div>
  </div>
</div>